/* src/components/GoogleMeetWidget.css */

.google-meet-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200px;
  color: white;
  border: 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  box-sizing: border-box;
  background: #222222;
}

input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}
p {
  margin-top: 10px;
}
