.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  height: 425px;
  padding: 20px;
  color: black;
}

.form input {
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #444444;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 40px;
}
