.google-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px ;
    background-color: #222; /* Optional: Background color */
  }
  
  .google-slides iframe {
    width: 100%;
    max-width: 800px; /* Set a max-width for responsiveness */
    height: 500px;
    border-radius: 12px ;
  }
  
  .google-slides h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
  }
  