.sheet-wrapper{
  border-color: black;
  border-width: 2px;
  border-radius: 24px;
}
.google-sheet-chart-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 400%;
}

.google-sheet-chart {
  width: 100%;
  max-width: 700px; /* Adjust this as necessary */
  height: 300px; /* Adjust this as necessary */
  border: none;
}
